.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(50%);
    border: 0;
    clip: rect(0 0 0 0);
}
body {
    background-color: #121212;
    color: #fff;
}
.hidden-section {
    opacity: 0;
    transition: all 0.2s linear;
}
.visible-section {
    opacity: 1;
    transition: all 0.2s linear;
}
